html {
  /* BACKGROUND COLORS */
  --color-text: #f9f8ff;
  --color-lighText: rgba(249, 248, 255, 0.5);
  --color-link: #7971e9;
  --color-bgLight: #293942;
  --color-bgDark: #1b262c;

  /* TOPOGRAPHYS */
}
