@import url('./base.css');

.footer {
  width: 100%;
  background-color: var(--color-bgLight);
  padding: 2.5rem 10rem 2rem 10rem;
}

.fWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--color-text);
}

/* LEFT */
.fLeft {
  flex: 2;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 9.5rem;
}

.fLogo {
  width: 10rem;
  margin-bottom: 0.6rem;
}

.fLeftText {
  font-size: 0.7rem;
  font-weight: 400;
  opacity: 0.6;
  padding: 1rem 6.4rem 1rem 0;
}

/* RIGHT */
.fRight {
  flex: 3;
  /* background: brown; */
}

.fRightTitle {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.6;
  margin-bottom: 1.1rem;
}

/* LISTS */

.fRightContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.fItems {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fItem {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
  transform: translate(0, 0);
  cursor: pointer;
}

.fItem:hover {
  color: var(--color-link);
  transition: ease 500ms;
}

@media screen and (max-width: 1023px) {
  .fWrapper {
    flex-direction: column;
  }

  .fLeft {
    align-items: flex-start;
    padding-bottom: 3rem;
  }

  .fRightContainer {
    width: 86vw;
  }
}

@media screen and (max-width: 845px) {
  .footer {
    padding: 2.5rem 9rem 2rem 6rem;
  }
}

@media screen and (max-width: 986px) {
  .fRightContainer {
    width: 82vw;
  }

  .fLeftText {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 791px) {
  .fRightContainer {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 6rem;
  }

  .fBox {
    max-width: 42%;
    margin-right: 2rem;
    /* background: yellow; */
  }
}

@media screen and (max-width: 575px) {
  .fLeftText {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 1rem 1rem 1rem 0;
  }

  .fRightContainer {
    margin-left: 8rem;
  }

  .fItem {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 520px) {
  .fBox {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 431px) {
  .footer {
    padding: 2rem 1rem 2rem 3rem;
  }

  .fRightContainer {
    margin-left: 0;
  }
}
