.linePath {
  width: 100%;
  height: 0.1px;
  border: none;
  background-color: #1b262c;
  box-shadow: 0px -20px 8px 3px rgb(26 26 26 / 25%);
}

.rotateimg180 {
  /* -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg); */
  transform: rotate(180deg);
}
